@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ribeye+Marrow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  height: 15vh;

  .nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    .logo {
      display: flex;
      font-size: 30px;
      align-items: center;
      font-family: "Ribeye Marrow", cursive;

      img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
    }
    .links {
      width: 65%;
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        li {
          a {
            text-decoration: none;
            font-size: 23px;
            color: #111;
            position: relative;
            padding: 5px 0;
            &::before {
              content: "";
              width: 00%;
              height: 3px;
              background-color: rgb(24, 46, 70);
              position: absolute;
              top: 0;
              right: 0;
              transition: ease-in 0.3s;
            }
            &::after {
              content: "";
              position: absolute;
              width: 00%;
              height: 3px;
              background-color: rgb(185, 148, 60);
              bottom: 0;
              left: 0;
              transition: width ease-in 0.3s;
            }
            &:hover::after {
              width: 100%;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
    }
    .btns {
      button {
        width: 170px;
        height: 38px;
        background-color: transparent;
        font-size: 18px;
        position: relative;
        border: 1px solid #111;

        &::after {
          content: "";
          width: 166px;
          height: 35px;
          position: absolute;
          bottom: 0;
          right: 0;
          transition: ease-in-out 0.3s;
        }

        &:hover::after {
          bottom: -5px;
          right: -5px;
          border: 1px solid #111;
        }
      }
    }
  }
}
header {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .layer {
    position: absolute;
    width: 80px;
    height: 80px;
    animation: layer;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  .layer:nth-child(1) {
    top: 10%;
    left: 20%;
  }
  .layer:nth-child(2) {
    top: 80%;
    left: 10%;
  }
  .layer:nth-child(3) {
    top: 10%;
    right: 20%;
  }
  .layer:nth-child(4) {
    bottom: 10%;
    right: 20%;
  }

  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;

    .header-text {
      h3 {
        font-size: 30pt;
        color: #222;
        font-family: "Aboreto", cursive;
        margin-top: -100px;
      }
      button {
        width: 170px;
        height: 50px;
        margin-top: 50px;
        background-color: rgb(0, 191, 255);
        color: #fff;
        font-size: 18px;
        font-family: "Aboreto", cursive;
        border: none;
        font-weight: bold;
        position: relative;
        -webkit-animation: scale-up-hor-left 1s
          cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
        animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2s
          both;
        transition: ease-out 0.4s;
        &::after {
          position: absolute;
          content: "";
          width: 45px;
          height: 10px;
          background-color: rgb(255, 225, 0);
          top: 20px;
          right: -32px;
          transition: ease-out 0.4s;
        }
        &:hover {
          background-color: rgba(0, 191, 255, 0.598);
          &::after {
            right: -40px;
          }
        }
      }
    }
    .shapes {
      .line {
        width: 200px;
        height: 10px;
        background-color: rgb(186, 116, 251);
        position: absolute;
        top: 30%;
        transform: rotate(-45deg);
        left: 40%;
        animation-name: line;
        animation-iteration-count: 1;
        animation-duration: 2.5s;
        animation-delay: 0s;
      }
      .triangle {
        width: 30px;
        height: 30px;
        background-color: orangered;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        position: absolute;
        left: 33%;
        top: 40%;
        animation-name: triangle;
        animation-iteration-count: 1;
        animation-duration: 2s;
      }
    }
    .header-path {
      width: 58%;
      height: 600px;
      // background-color: aqua;
      display: flex;
      position: relative;
      .path-item {
        width: 490px;
        height: 490px;
        position: absolute;
      }
      .path-item:nth-child(1) {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        top: 5px;
        left: -120px;
        width: 550px;
        height: 550px;
        background-color: rgb(255, 191, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        .inner-path {
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          width: 505px;
          height: 505px;
          background-image: url(../image/icon/logo-small.png);
          background-size: 40%;
          background-repeat: no-repeat;
          background-position: center;
          background-color: #fff;
        }
      }
      .path-item:nth-child(2) {
        clip-path: polygon(0 0, 50% 50%, 100% 0);
        background-color: rgb(255, 191, 0);
        top: 40px;
        left: 30%;

        img {
          width: 40%;
          height: auto;
          margin: 6% 30%;
        }
      }
      .path-item:nth-child(3) {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);

        top: 40px;
        right: 2%;
        background-image: url(../image/path.webp);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.section {
  width: 100%;
  min-height: 60vh;
  height: auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;

  .layer {
    position: absolute;
    animation: layer;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-delay: 0s;
    font-size: 100px;
    &:nth-child(1) {
      color: rgb(119, 255, 0);
      font-size: 50px;
      right: 300px;
      bottom: 50px;
    }
    &:nth-child(2) {
      color: rgb(255, 128, 0);
      font-size: 30px;
      left: 40%;
      top: -10px;
    }
    &:nth-child(3) {
      color: rgb(255, 128, 0);
      width: 100px;
      height: 100px;
      left: 10%;
      bottom: 10%;
    }
  }
  .section-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    .section-text {
      width: 40%;
      h3 {
        font-size: 30pt;
        color: #222;
        font-family: "Aboreto", cursive;
        margin-bottom: 30px;
      }
      p {
        font-size: 20px;
        width: 80%;
        line-height: 1.2;
        text-align: justify;
      }
      button {
        width: 170px;
        height: 50px;
        margin-top: 50px;
        background-color: rgb(0, 191, 255);
        color: #fff;
        font-size: 18px;
        font-family: "Aboreto", cursive;
        border: none;
        font-weight: bold;
        position: relative;
        -webkit-animation: scale-up-hor-left 1s
          cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
        animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2s
          both;
        transition: ease-out 0.4s;
        &::after {
          position: absolute;
          content: "";
          width: 45px;
          height: 10px;
          background-color: rgb(255, 225, 0);
          top: 20px;
          right: -32px;
          transition: ease-out 0.4s;
        }
        &:hover {
          background-color: rgba(0, 191, 255, 0.598);
          &::after {
            right: -40px;
          }
        }
      }
    }
    .section-img {
      width: 45%;
      display: flex;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      .section-logo {
        position: absolute;
        bottom: -15%;
        left: -40%;
        width: 300px;
        background-color: #222;
        border: 15px solid #fff;
        animation-name: image;
        animation-delay: initial;
      }
    }
  }
}

.school-rooms {
  width: 100%;
  height: 70vh;
  position: relative;
  margin-top: 80px;
  .layer {
    position: absolute;
    animation: layer;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-delay: 0s;
    font-size: 100px;
    width: 60px;
    height: 60px;
    &:nth-child(1) {
      color: rgb(119, 255, 0);
      font-size: 50px;
      left: 300px;
      bottom: 15px;
    }
    &:nth-child(2) {
      color: rgb(255, 128, 0);
      font-size: 30px;
      left: 39%;
      top: -5px;
      width: 30px;
      height: 30px;
    }
    &:nth-child(3) {
      color: rgb(255, 128, 0);
      width: 100px;
      height: 100px;
      right: 25%;
      bottom: 15%;
    }
  }
  img {
    width: 90%;
    height: 100%;
  }
  .testimonal-text {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    h3 {
      color: #111;
      font-weight: 700;
      font-size: 45px;
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 20px;
      font-family: "Aboreto", cursive;
    }
    .line {
      width: 56%;
      height: 6px;
      background-color: #f38901;
      position: absolute;
      top: 12%;
      right: 44%;
      -webkit-animation: scale-in-hor-left 2s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate both;
      animation: scale-in-hor-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        alternate both;
    }
    p {
      font-size: 30px;
      color: #111;
      position: absolute;
      top: 10%;
      right: 25%;
      font-family: "Aboreto", cursive;
    }
  }
  .slider {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    .room-links {
      width: 40%;
      margin: 40px;
      ul {
        list-style: none;
        border-left: 2px solid rgb(240, 224, 224);
        button {
          display: block;
          font-family: "Aboreto", cursive;
          height: 50px;
          text-align: left;
          line-height: 50px;
          position: relative;
          font-size: 25px;
          padding-left: 20px;
          cursor: pointer;
          transition: all ease-in-out 0.4s;
          background-color: transparent;
          border: none;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 0;
            left: -1px;
            top: 0;
            background-color: #f38901;

            transition: ease-in 0.6s;
          }
        }
        .link:focus {
          color: #00a0e3;
          &::before {
            height: 100%;
          }
        }
        button:hover {
          color: #00a0e3;
          cursor: pointer;
          &::before {
            height: 100%;
          }
        }
      }
      .roomBtn {
        width: 170px;
        height: 50px;
        margin-top: 50px;
        background-color: rgb(0, 191, 255);
        color: #fff;
        font-size: 18px;
        font-family: "Aboreto", cursive;
        border: none;
        font-weight: bold;
        position: relative;
        -webkit-animation: scale-up-hor-left 1s
          cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
        animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2s
          both;
        transition: ease-out 0.4s;
        &::after {
          position: absolute;
          content: "";
          width: 45px;
          height: 10px;
          background-color: rgb(255, 225, 0);
          top: 20px;
          right: -32px;
          transition: ease-out 0.4s;
        }
        &:hover {
          background-color: rgba(0, 191, 255, 0.598);
          &::after {
            right: -40px;
          }
        }
      }
    }
  }
  img {
    width: 50%;
    height: auto;
  }
}

footer {
  width: 100%;
  height: 45vh;
  background-color: #2b2a29;
  img {
    width: 100%;
    height: auto;
  }
  .footer-inner {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    .footer-item {
      width: 300px;
      height: 300px;
      line-height: 2;
      a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        text-align: justify;
        font-family: "Aboreto", cursive;
        transition: all ease-in 0.2s;
        &:hover {
          color: #00a0e3;
        }
      }
    }
    .footer-item:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 300px;
      height: 100px;
      margin-top: 100px;
      margin-left: 100px;
      color: #fff;
      font-family: "Aboreto", cursive;
      font-size: 12px;

      p {
        transition: all ease-in 0.3s;
        font-size: 16px;

        &:hover {
          color: #00a0e3;
        }
      }
      a {
        color: #00a0e3;
        margin-top: 30px;
        font-size: 15px;
        transition: ease-in-out 1s;
        position: relative;
        &::before {
          content: "";
          width: 0%;
          font-size: 15px;
          height: 30px;
          // background-color: #2b2a29;
          position: absolute;
          color: #cccccc;
          // padding: 5px;
          border-bottom: 1px solid #cccccc;
          transition: width ease-in-out 0.5s;
        }
        &:hover {
          color: #cccccc;
          &::before {
            width: 80%;
          }
        }
      }
    }
  }
}
