* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icons {
  display: none;
  img {
    display: none;
  }
}
.navbar {
  transition: all ease-in-out 1s;
  height: 10vh;
  .links {
    display: none;
  }
  .btns {
    margin-right: 10%;
  }
  .icon {
    visibility: visible;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2a29;
    span {
      width: 30px;
      height: 3px;
      border-radius: 5px;
      background-color: #fff;
      display: block;
      position: relative;
      transition: all 0.5s ease-in-out;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }
      &::before {
        transform: translateY(-10px);
      }
      &::after {
        transform: translateY(10px);
      }
    }
    &.open span {
      transform: translateX(-50px);
      background-color: transparent;
      &::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      &::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }
  }
}
.active {
  height: 100vh;
  background-color: #2b2a29;
  transition: all ease-in-out 1s;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  z-index: 999;
  .nav-inner {
    position: relative;
    height: 100vh;
    .logo {
      top: 5%;
      position: absolute;
      color: #fff;
      display: flex;
      font-size: 30px;
      align-items: center;
      font-family: "Ribeye Marrow", cursive;
      img {
        width: 80px;
        height: auto;
      }
    }
    .btns {
      display: none;
    }
    .links {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        display: block;
        width: auto;

        li {
          margin: 10px auto;
          list-style: none;
          a {
            text-decoration: none;
            font-size: 35px;
            color: #fff;
            font-weight: normal;
            font-family: "Cormorant Garamond", serif;
            position: relative;
            padding: 5px 0;
            &::before {
              content: "";
              width: 00%;
              height: 3px;
              background-color: rgb(24, 46, 70);
              position: absolute;
              top: 0;
              right: 0;
              transition: ease-in 0.3s;
            }
            &::after {
              content: "";
              position: absolute;
              width: 00%;
              height: 3px;
              background-color: rgb(185, 148, 60);
              bottom: 0;
              left: 0;
              transition: width ease-in 0.3s;
            }
            &:hover::after {
              width: 100%;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
    }
    .icon {
      width: 45px;
      height: 45px;
      position: absolute;
      top: 30px;
      right: 0px;
      display: flex;
      align-items: center;

      span {
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background-color: #fff;
        display: block;
        position: relative;
        transition: all 0.5s ease-in-out;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 30px;
          height: 3px;
          background-color: #fff;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
        }
        &::before {
          transform: translateY(-10px);
        }
        &::after {
          transform: translateY(10px);
        }
      }
      &.open span {
        transform: translateX(-50px);
        background-color: transparent;
        &::before {
          transform: rotate(45deg) translate(35px, -35px);
        }
        &::after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
      }
    }
  }
}

.gallery {
  width: 100%;
  margin: 0;
  .container {
    width: 100%;
    margin: 0 auto;

    width: 100%;
    .gallery-photos {
      width: 80%;
      margin: 0 auto;

      display: flex;
      flex-wrap: wrap;
      gap: 3px;
      img {
        width: 45%;
        height: 200px;
        // display: block;
      }
      .image:nth-child(1),
      .image:nth-child(2),
      .image:nth-child(3),
      .image:nth-child(4),
      .image:nth-child(5),
      .image:nth-child(6) {
        display: block;
      }
    }
  }
}
footer {
  height: 400px;
  .footer-inner {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .footer-item:nth-child(2) {
      display: none;
    }
    .footer-item:nth-child(3) {
      margin: 0;
    }
  }
}
